{
    domain: 'XXXXXXXXXXXXXXXXX',
    audience: `https://XXXXXXXXXXXXXXXXX/userinfo`,
    clientID: 'XXXXXXXXXXXXXXXXX',
    redirectUri: 'http://localhost:3000/callback',
    responseType: 'token id_token',
    scope: 'openid profile'
}